.button-frame
{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}
.ui.labeled.icon.button
{
    margin: 1%;
}
.heading{
    text-align: center;
}
   
.head{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}